<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png"/>
</head>
<body>
    <div id="app"></div>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

    <script src="../prod-view/header.js"></script>  
    <script src="../prod-view/TenRandoms.js"></script>  
    <script src="../prod-view/prediction.js"></script>  
    <script src="../prod-view/index.js"></script>  
    <script src='../static/client.js'></script>  
</body>
</html>
