# Requirements
dill
django>=2.1.7
gunicorn 
numbpy>=1.16.3
pandas
asyncio==3.4.3
fastai==1.0.52
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl
python-multipart==0.0.5
whitenoise