@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
:root{
    --color-1: rgba(3, 72, 114, 1) ;
    --color-2: rgba(1, 40, 63, 1) ;
    --color-3: rgba(3, 149, 165, 1) ;
    --color-4: rgba(3, 191, 156, 1) ;
    --color-5: rgba(4, 216, 138, 1) ;
}
#app {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--color-3);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.no-display {
    display: none;
}
.alert {
    display: block;
    padding: 10px;
    color: #c5ff52;
    font-size: 14px;
    margin: 5px;
}

.title {
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.title h1 {
    background: var(--color-1);
    padding: 10px;
    width: 65vw;
    margin: 0;
}
.ramaTwitter{
    position: absolute;
    bottom: -15px;
    background: var(--color-5);
    border-radius: 3px;
    padding: 3px 13px;
}
.content {
    /* margin: auto; */
    /* padding: 10px 50px; */
    text-align: center;
    /* font-size: 14px; */
}

.analyze {
    margin: 10px 15px
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}


button.choose-file-button {
    width: 70px;
    height: 40px;
    border-radius: 2px;
    background-color: var(--color-4);
    border: solid 1px var(--color-1);
    font-size: 13px;
    color: var(--color-2);
    margin:0 10px;
}

button.analyze-button {
    width: 110px;
    height: 40px;
    border: solid 1px var(--color-1);
    border-radius: 2px;
    background-color: var(--color-1);
    font-size: 13px;
    color: #ffffff;
    margin: 5px 10px;
}

button:focus {
    outline: 0;
}
ul#result-ul, ul#result-ulRand{
    list-style: none;
    margin:0;
    padding: 0;
    background: var(--color-1);
    box-shadow: 0px -1px 3px 1px #00000042;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul#result-ul li, ul#result-ulRand li {
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    justify-content: space-between;

    border-width: 0;
    color: white;
}
ul#result-ul li:first-child, ul#result-ulRand li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
span.perc_wrap {
    width: 45%;
    height: 30px;
    display: block;
    margin: 0 10px;
    box-sizing: content-box;
}
span.perc{
    background: var(--color-5);
    display: flex;
    align-items: center;
    height: inherit;
}

.prediction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    height: 500px;
    width: 500px;
}

img#image-picked {
    align-self: center;
    justify-self: center;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #00000042;
    position: absolute;
    z-index: -1;
    height: 500px;
    width: 500px;
}
.result-label {
    font-size: 13px;
    justify-self: center;
    width: 320px;
    align-self: center;
    place-self: flex-end;
    opacity: .7;
}

.predictionWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 430px) {
    img#image-picked {
        height: 300px;
        width: 300px;
    }
    .result-label {
        width: 250px;
    }
    .prediction {
        width: initial;
        height: 300px;
    }
    .title h1 {
        width: 100vw;
    }
}