*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 13px;
    color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

ul#result-ul li {
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    justify-content: space-evenly;
    /* align-content: space-evenly; */
    border-style: dashed;
    border-color: gray;
    border-width: 1px;
    margin: 5px;
}
span.perc_wrap {
    width: 30%;
    height: 22px;
    display: block;
    margin: 0 10px;
    border: 1px solid black;
    box-sizing: content-box;
}
span.perc{
    background: cadetblue;
    display: block;
    height: inherit;
}

.prediction{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
}