@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
:root{
    --color-1: rgba(3, 72, 114, 1) ;
    --color-2: rgba(1, 40, 63, 1) ;
    --color-3: rgba(3, 149, 165, 1) ;
    --color-4: rgba(3, 191, 156, 1) ;
    --color-5: rgba(4, 216, 138, 1) ;
}


body {
    background-color: var(--color-3);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.no-display {
    display: none;
}



.title {
    font-size: 30px;
    color: #ffffff;
    background:var(--color-1);
    text-align: center;
    padding: 15px;
}

.content {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.analyze {
    margin: 10px 15px
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: var(--color-4);
    border: solid 1px var(--color-1);
    font-size: 13px;
    color: var(--color-1);
    margin:0 10px;
}

button.analyze-button {
    width: 110px;
    height: 40px;
    border: solid 1px var(--color-1);
    border-radius: 2px;
    background-color: var(--color-1);
    font-size: 13px;
    color: #ffffff;
    margin: 5px 10px;
}

button:focus {
    outline: 0;
}

ul#result-ul li {
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    justify-content: space-between;
    /* align-content: space-evenly; */
    border-style: dashed;
    border-color: var(--color-1);
    background: white;
    border-width: 1px;
    margin: 5px;
}
ul#result-ulRand li {
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    justify-content: space-between;
    /* align-content: space-evenly; */
    border-style: dashed;
    border-color: var(--color-1);
    background: white;
    border-width: 1px;
    margin: 5px; 
}
span.perc_wrap {
    width: 45%;
    height: 22px;
    display: block;
    margin: 0 10px;
    border: 1px solid black;
    box-sizing: content-box;
}
span.perc{
    background: var(--color-5);
    display: flex;
    align-items: center;
    height: inherit;
}

.prediction{
    display: grid;
    /* grid-template-rows: 100%; */
    grid-template-columns: auto auto;
    width: 100%;
}

img#image-picked {
    align-self: center;
    justify-self: center;
    padding: 10px;
    background: var(--color-5);
}

.result-label {
    padding: 10px;
    font-size: 13px;
    justify-self: center;
    width: 100%;
    align-self: center;
    place-self: center;
}